---
title: Jane Street Puzzles
layout: default
permalink: /Jane_Street_Puzzles/
redirect_from:
  - /quanty/
---

<main class="home" id="main" role="main" aria-label="Content">

    <h1 class="content-title divided">
      Jane Street Puzzles<br> (and maybe more?)
    </h1>
    <h5>
      I've been solving the puzzles since January 2024.<br>
      These are just a few solutions I'm particularly proud of!<br>
      I might share other interesting financial-computational projects here until they find their own home.
    </h5>
    <ul class="post-list">
      Hall of Mirrors 3<br>
      Coming in April
    </ul>
    
    <ul class="post-list">
      {% for post in site.posts %}
        {% include js-puzzle.html %}
      {% endfor %}
    </ul>

    </main>
    