---
title: Jane Street Puzzles
layout: default
---

<main class="home" id="main" role="main" aria-label="Content">

    <h1 class="content-title divided">
      Jane Street Puzzles
    </h1>
    <h5>
      Just a few solutions I'm particularly proud of
    </h5>
    <ul class="post-list">
      Hall of Mirrors 3<br>
      Coming in April
    </ul>
    
    <ul class="post-list">
      {% for post in site.posts %}
        {% include js-puzzle.html %}
      {% endfor %}
    </ul>

    </main>
    