---
title: Quanty
layout: default
permalink: /quanty/
redirect_from:
  - /Quanty/
  - /Jane_Street_Puzzles/
---

<header class="site-masthead">
  <p class="masthead-verse">
    It don't do notation, nor stats, such foundation - but somewhere a monkey's at play.<br>
    I see clearly now, to you, reader how - must Quanty look quite like a mess.<br>
    Say numbers don't lie, the odds Shakespeare's high? For certain, in this century.<br>
    The code somehow runs, the answers I've done - here Quanty, come see, it's my mess!
  </p>
</header>

<main class="home" id="main" role="main" aria-label="Content">

    <h1 class="content-title divided"></h1>
    <!--
    <h5>
      I've been solving the puzzles since January 2024.<br>
      These are a few of the ones I solved by code.<br>
      I'll also share other interesting quant finance projects here, until they find their own home.
    </h5>
    -->
    <ul class="post-list">
      {% for post in site.posts %}
        {% include js-puzzle.html %}
      {% endfor %}
    </ul>

    </main>
