<!--{% if post.version == "Portfolio" %}
<li>
  <a href="{{ post.url | absolute_url }}" class="post-link">
    <div class="post-link__heading">
      <h1 class="post-link__title">
        {{ post.title }}
      </h1>
      <div class="portfolio-excerpt">
        {{ post.excerpt }}
      </div>
    </div>
  </a>
</li>
{% endif %}
-->

{% if post.version == "Portfolio" %}
<li>
  <a href="{{ post.url | absolute_url }}" class="post-link">
    <div class="post-link__heading">
        <h1 class="post-link__title">
          {{ post.title }}
          <p class="post-excerpt">
            {{ post.excerpt }}
          </p>
        </h1>
    </div>
  </a>
</li>
{% endif %}