/* Style the table of contents */
#markdown-toc {
    list-style: none;
    padding: 10;
    margin: 10;
    color: #0074D9; /* Change the link color to your preference */
  }
  
  #markdown-toc li {
    margin-bottom: 5px;
  }
  
  #markdown-toc a {
    text-decoration: none;
    color: #0074D9; /* Change the link color to your preference */
  }
  
  /* Style headings and subheadings */
  h3 {
    font-size: 1.2em; /* Adjust the font size to your preference */
    color: #333; /* Change the text color to your preference */
    margin-top: 20px;
  }
