/* Center the table of contents container */
#markdown-toc {
  list-style: none;
  padding: 0;
  margin: 0 auto; /* Center the container horizontally */
  width: 100%; /* Adjust the width as needed */
  color: #000000; /* Change the link color to your preference */
}

/* Align the text to the left */
#markdown-toc ul {
  text-align: left;
}

#markdown-toc li {
  margin-bottom: 5px;
}

/* Style the link */
#markdown-toc a {
  text-decoration: underline;
  color: #000000; /* Change the link color to your preference */
}